*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* ===========Sign In Page============ */
body{
  display:flex;
  flex-direction: column;
}
.navbar{
  background:red;
  /* grid-area: navbar; */
  width:100%;
  height:10vh;
  display:block;
  margin-bottom:5vh;
}
.header{
  background:green;
  /* grid-area: header; */
  width: 50%;
  display:block;
  height: 10vh;
  margin-left:auto;
  margin-right: auto;
  margin-bottom:2vh;
}
.sign-in-form{
  background:blue;
  /* grid-area:form; */
  width:50%;
  display:block;
  height:50vh;
  margin:auto;
}
.footer{
  background:yellow;
  /* grid-area:footer; */
  width:100%;
  display:block;
  height:10vh;
  position: absolute;
  bottom:0;
}
