*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.more-section{
    height: 100vh;
    background:#232425;
}

.box{
    height: 60vh;
    margin-top:20vh;
}

/* .navbar{
    height:10vh;
    background:black;
} */
.section-a{
    min-height:100vh;
    
}
.dealer-container{
    height:40vh;

}
.player-container{
    height:25vh;
}


.player-card{
    
    background:#232425;
    border:1px solid #4a4a4a;
    padding:.9rem;
    
}

.dealer-card{
    background:#232425;
}



.navbar{
    height:10vh;
   

}
.expand-arrow{
    color:white;
}




@media (max-width: 576px) {
    .section-a{
        height:100vh;
        
    }
    .dealer-container{
        height:40vh;
    
    }
    .player-container{
        height:25%;
        width:100vw;
    }
    
    .main{
        min-height:100vh;
    }
    
    .player-card{
        width:50%;
        height:100%;
        background:#232425;
        border:1px solid #4a4a4a;
        
    }
    
    .dealer-card{
        width:100vw;
        background:#232425;
    }
    
    
    
    .navbar{
        height:10vh;
        z-index:100;
    }
    .expand-arrow{
        color:white;
    }
  
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
   
    .section-a{
        height:100vh;
        
    }
    .dealer-container{
        height:40vh;
    
    }
    .player-container{
        height:25vh;
        display:flex;
        flex-direction: row;
    }
    
    
    .player-card{
        width:25vw;
        background:#232425;
        border:1px solid #4a4a4a;
    
    }
    
    .dealer-card{
        width:100vw;
        background:#232425;
    }
    
    
    
    .navbar{
        height:10vh;
        z-index:100;
    }
    .expand-arrow{
        color:white;
    }
   
    
    
    
   
    
 /* } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    .navbar{
        height:10vh;
        background:black;
    }
    .section-a{
        height:40vh;
        
    }
    .section-b{
        height:40vh;
       
    }
    .section-c{
        height:50vh;
    
    }
    .section-d{
        height:50vh;
        
    }
    .section-e{
        height:40vh;
        background:yellow;
    }
    
    
    .dealer-card{
        height:40vh;
        background:maroon;
    }
    
    .expand-arrow{
        color:white;
    }
    .result-card{
        height:30vh;
        background:blue;
    }
    .result-dealer-card{
        height:30vh;
        background:blue;
    }
    
    .player-card{
        height:40vh;
        background:brown;
    }
} */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
    .navbar{
        height:10vh;
        background:black;
    }
    .section-a{
        height:40vh;
        
    }
    .section-b{
        height:40vh;
       
    }
    .section-c{
        height:50vh;
    
    }
    .section-d{
        height:50vh;
        
    }
    .section-e{
        height:40vh;
        background:yellow;
    }
    
    
    .dealer-card{
        height:40vh;
        background:maroon;
    }
    
    .expand-arrow{
        color:white;
    }
    .result-card{
        height:30vh;
        background:blue;
    }
    .result-dealer-card{
        height:30vh;
        background:blue;
    }
    
    .player-card{
        height:40vh;
        background:brown;
    }
}
 */
}